[[source]]
name = "artifactory_mirror"
url = "https://registry.saas.cagip.group.gca/api/pypi/pypi-remote/simple"
verify_ssl = false

[dev-packages]
pytest = "*"
coverage = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
flake8 = "*"
numpydoc = "*"
bandit = "*"

[packages]
loguru = "*"
gunicorn = "*"
flask = "*"
flask_restx = "*"
flask_wtf = "*"
